<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ChessOnline</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#/main"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#Profile"><i class="fa fa-user"></i> Profil</a></li>
                <li><a href="#Ranking"><i class="fa fa-list"></i> Ranking</a></li>
                <li class="active"><a href="#Game"><i class="fa fa-gamepad"></i> Game</a></li>
                <li><a href="#Settings"><i class="fa fa-cog"></i> Ustawienia</a></li>
            </ul>
        </div>
        <div style="float: right" class="btn-danger logOutButton" ng-click="logout()"><i class="fa fa-sign-out"></i></div>
        <div style="float: right" id="whoLogin"><a href="#">{{actualUser.firstname}} {{actualUser.lastname}}</a></div>
    </div>
</nav>
<div class="col-lg-4"></div>
<div class="col-lg-4"></div>
<div class="col-lg-4"></div>