<div id="LoginBody">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img alt="Brand" src="../../img/logoChess1.png" class="navbar-logo">
        </div>
    </div>
</nav>

<div class="conatiner-fluid" id="content">
    <div class="col-sm-4 col-sm-offset-4 col-xs-12">
        <form class="login-form">
            <label for="inputLogin">Login</label>
            <input type="text" id="inputLogin" class="form-control" placeholder="Login" required="" autofocus="" ng-model="login">
            <br />
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <br />
            <a href="#main/" ng-click="logIn()"><button type="button" class="btn btn-primary btn-block" id="login-submit">Zaloguj</button></a>
            <br />
            <button type="submit" class="btn btn-primary btn-block" id="register-submit">Zarejestruj</button>
        </form>

    </div>
</div>
</div>