<div ng-show="actualUser">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ChessOnline</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/main"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#Profile"><i class="fa fa-user"></i> Profil</a></li>
                <li><a href="#Ranking"><i class="fa fa-list"></i> Ranking</a></li>
                <li><a href="#Game"><i class="fa fa-gamepad"></i> Game</a></li>
                <li><a href="#Settings"><i class="fa fa-cog"></i> Ustawienia</a></li>
            </ul>
        </div>
        <div style="float: right" class="btn-danger logOutButton" ng-click="logout()"><i class="fa fa-sign-out"></i></div>
        <div style="float: right" id="whoLogin"><a href="#">{{actualUser.firstname}} {{actualUser.lastname}}</a></div>
    </div>
</nav>
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <table class="table">
        <thead>
        <tr>
            <th>MOJE PARTIE</th>
            <th><i class="fa fa-angle-up hideSection" ng-click="changeView($event,'myGames')"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
    <div id="myGames">
        <table class="table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Przeciwnik</th>
                <th>Ruch</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="game in games" ng-if="game.finished == false">
                <td>{{giveDate(game.date)}}</td>
                <td ng-click="openUserProfile(game)" style="cursor: pointer">{{getOpponentLogin(game)}}</td>
                <td>{{giveMove(game)}}</td>
                <td><div class="btn btn-mini btn-primary" style="float: right; width: 95px;" ng-if="giveMove(game) == 'Mój'" ng-click="letsPlay(game)">Graj</div></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ZAPROSZENIA</th>
                <th><i class="fa fa-angle-up hideSection" ng-click="changeView($event,'myInvitations')"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr>
            </tr>
            </tbody>
        </table>
        <div id="myInvitations">
            <table class="table">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Przeciwnik</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="invite in invites | orderBy: -invite.creationTime" ng-if="invite.gameId == null">
                    <td>{{giveDate(invite.creationTime)}}</td>
                    <td ng-click="openUserProfile(invite.senderId)" style="cursor: pointer">{{inviteSender(invite.senderId)}}</td>
                    <td><div class="btn btn-mini btn-primary" style="float: right;width: 95px;" ng-click="acceptInvite(invite)">Zaakceptuj</div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-2"></div>
</div>