<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ChessOnline</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#/main"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><a href="#Profile"><i class="fa fa-user"></i> Profil</a></li>
                <li><a href="#Ranking"><i class="fa fa-list"></i> Ranking</a></li>
                <li><a href="#Game"><i class="fa fa-gamepad"></i> Game</a></li>
                <li><a href="#Settings"><i class="fa fa-cog"></i> Ustawienia</a></li>
            </ul>
        </div>
        <div style="float: right" class="btn-danger logOutButton" ng-click="logout()"><i class="fa fa-sign-out"></i></div>
        <div style="float: right" id="whoLogin"><a href="#">{{actualUser.firstname}} {{actualUser.lastname}}</a></div>
    </div>
</nav>
<div class="col-lg-2">
    <div class="profilFoto"></div>
    <ul class="list-group">
        <li class="list-group-item">Punkty: <span class="badge pull-right">{{User.points}}</span></li>
        <li class="list-group-item">Wygrane: <span class="badge pull-right">{{User.wins}}</span></li>
        <li class="list-group-item">Przegrane: <span class="badge pull-right">{{User.losts}}</span></li>
        <li class="list-group-item">Remisy: <span class="badge pull-right">{{User.ties}}</span></li>
    </ul>
</div>
<div class="col-lg-10">
    <div>
    <table class="table">
        <thead>
        <tr>
            <th>INFORMACJE</th>
            <th><i class="fa fa-angle-up hideSection" ng-click="changeView($event,'personalData')"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
        <div id="personalData">
            <table class="pull-left personalDataTable" style="width: 15%;margin-bottom: 40px;">
                <tbody>
                <tr>
                    <td>Imie:</td>
                    <td>{{User.firstname}}</td>
                </tr>
                <tr>
                    <td>Nazwisko:</td>
                    <td>{{User.lastname}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ZAPROSZENIE</th>
                <th><i class="fa fa-angle-up hideSection" ng-click="changeView($event,'inviteUser')"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr>
            </tr>
            </tbody>
        </table>
        <div id="inviteUser">
            <div class="btn btn-primary" style="width: 10%" ng-click="sendInvite()"><i class="fa fa-play"></i> Zaproś</div>
        </div>
    </div>

</div>