<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ChessOnline</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#/main"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#Profile"><i class="fa fa-user"></i> Profil</a></li>
                <li><a href="#Ranking"><i class="fa fa-list"></i> Ranking</a></li>
                <li><a href="#Game"><i class="fa fa-gamepad"></i> Game</a></li>
                <li><a href="#Settings"><i class="fa fa-cog"></i> Ustawienia</a></li>
            </ul>
        </div>
        <div style="float: right" class="btn-danger logOutButton"><i class="fa fa-sign-out"></i></div>
        <div style="float: right" id="whoLogin"><a href="#">{{actualUser.firstname}} {{actualUser.lastname}}</a></div>
    </div>
</nav>
<div class="col-lg-4"></div>
<div class="col-lg-4 column" id="leftPanel">
    <div class="col-lg-12 sortPersonList">
        <div class="col-lg-12"><label>Wyszukaj<input class="form-control" ng-model="searchName"></label></div>
        <div class="col-lg-12">
            <label>Sortuj</label>
            <select class="form-control" ng-model="sorting">
                <option value="firstname">A-Z</option>
                <option value="-firstname">Z-A</option>
                <option value="-points" selected="selected">Punkty</option>
            </select>
        </div>
    </div>
    <div>
        <div class="col-lg-12 personList">
            <ul class="list-group" >
                <li class="list-group-item personListItem" ng-repeat="user in Users | filter: searchName | orderBy: sorting" ng-click="openUserProfile(user)">{{user.login}} <span class="badge" style="align-items: flex-end">{{user.points}}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-4"></div>

</div>