<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ChessOnline</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#/main"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#Profile"><i class="fa fa-user"></i> Profil</a></li>
                <li><a href="#Ranking"><i class="fa fa-list"></i> Ranking</a></li>
                <li><a href="#Game"><i class="fa fa-gamepad"></i> Game</a></li>
                <li class="active"><a href="#Settings"><i class="fa fa-cog"></i> Ustawienia</a></li>
            </ul>
        </div>
        <div style="float: right" class="btn-danger logOutButton" ng-click="logout()"><i class="fa fa-sign-out"></i></div>
        <div style="float: right" id="whoLogin"><a href="#">{{actualUser.firstname}} {{actualUser.lastname}}</a></div>
    </div>
</nav>
<div class="col-lg-12">
	<div class="col-md-3">
		<img ng-src="../../bierki/{{user.avatar}}" alt="">
	</div>

	<div class="col-md-3">
		<form ng-submit="saveSettings()">
			<div class="form-group">
				<label for="firstName">Imię</label>
				<input type="text" ng-model="actualUser.firstname" required class="form-control" id="firstName" placeholder="Imię">
			</div>
			<div class="form-group">
				<label for="lastName">Nazwisko</label>
				<input type="text" ng-model="actualUser.lastname" required class="form-control" id="lastName" placeholder="Nazwisko">
			</div>
			<div class="form-group">
				<label for="email">Adres e-mail</label>
				<input type="email" ng-model="actualUser.email" required class="form-control" id="email" placeholder="E-mail">
			</div>
			<div class="form-group">
				<label for="password">Hasło</label>
				<input type="password" ng-model="actualUser.password" required class="form-control" id="password" placeholder="Hasło">
			</div>
			<div class="form-group">
				<label for="avatar">Nowy obrazek użytkownika</label>
				<input type="file" custom-on-change="fileUpload" id="avatar">
			</div>
			<button type="submit" class="btn btn-default">Zapisz</button>
		</form>

		<div class="user-delete-button">
			<button type="submit" ng-click="deleteUser()" class="btn btn-danger">Usuń konto</button>
		</div>
	</div>
</div>