.myTable td{
    height: 60px;
    width: 60px;
    border: 2px solid #666666;
}
.myDiv{
    height: 60px;
    width: 60px;
    border: 1px solid #aaaaaa;

}
.myTable{
    border: 2px solid #363636;
    border-spacing: 0px;
}
.black{
    background: black;
}
.white{
    background: white;
}
body{
    margin-left: 350px;
}
.whiteItem{
    background: #fff242;
}
.blackItem{
    background: #ff3135;
}