.myTable td{
    height: 60px;
    width: 60px;
    border: 2px solid #666666;
}
.myDiv{
    height: 60px;
    width: 60px;
    border: 1px solid #aaaaaa;

}
.myTable{
    border: 2px solid #363636;
    border-spacing: 0px;
    margin-top: 50px;
    margin-left: 20%;
}
.black{
    background: #3C1F11;
}
.white{
    background: #B35E34;
}
#LoginBody{
    position: relative;
    background: url("loginBackground.jpg") no-repeat 100% 45%;
}
.whiteItem{
    background: white;
}
.blackItem{
    background: black;
}
#content{
    z-index: 2;
}
#whoLogin > a{
    color: #9D9D9D;
    background-color: transparent;
}
#whoLogin{
    margin-top: 15px;
    margin-right: 15px;
}
.availableFields{
    background: rgba(125, 238, 84, 1);
}